.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    top: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f0f0f0;
  }
  
  .table td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
  }
  
  .filters {
    margin-top: 20px;
  }
  
  .filters label {
    margin-right: 20px;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #3e8e41;
  }
  header{
   width: 1883px;
  }
.container button{
    background-color: #3e8e41;
    color: #ffffff;
}
